<mat-accordion *ngIf="(posts$ | async) as posts else noContent">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{post?.title}} {{post?._id}}
    </mat-expansion-panel-header>
    {{ post?.content }}
    <mat-action-row>
      <button mat-button color="primary" (click)="edit(post)">EDIT</button>
      <button mat-button color="warn" (click)="remove(post)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
  <p class="mat-body-2" style="text-align: center;" #noContent>Not posts yet, let's post !</p>
</mat-accordion>
